*{
    box-sizing: border-box;
    padding: 5px;

}

body{
    background-image: url("assets/IMG_1573.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    background-color: rgba(86, 83, 88, 0.384);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.527);
    color: whitesmoke;
    max-width: 95%s;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.527);

}
#top-container{
    display: flex;
    width: 95%;
}
#weather-display{
    background-color: whitesmoke;
    height: auto;
    width: 70%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.527);
    padding: 10px;
    margin: 5px;
    
}
#cities-display{
    background-color:rgba(86, 83, 88, 0.384) ;
    Height: auto;
    width: 30%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.527);
    padding: 10px;
    margin: 5px;


}
#forecast-row{
    display: flex;
    /* width: 95%; */
    height: auto;
    background-color: rgba(86, 83, 88, 0.384);
    padding: 5px;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}
/* #forecast-body{
    display: flex;
    width: 95%;
    height: auto;
    background-color: coral;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
} */
td{
    background-color:rgba(0, 4, 255, 0.74);
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.527);
    margin:10px;
    
}
#forecats-table{
    display: flex;
    max-width: 95%;
}
